body{
    margin-bottom: 80px;
}

.page-header{
    margin-top: 0px;
}

.panel-body {
    padding-top: 0px;
}

.featuredImg {
    margin-bottom: 15px;
}

#navbar-brand{
     background: url(../img/9gag-logo-white.png) 0 0 no-repeat;
     align: center;
     
}

#headbar-search{
    background: url(../img/icon-search-headbar-white.png) 0 0 no-repeat;
    align: center;
}

#header-download{
    background: url(../img/mobile-menu.png) 0 0 no-repeat;
    align: center;
   
}

#tree{
    background: url(../img/tree.jpg) 0 0 no-repeat;
    width: 100%;
    display: block;
    border: none;
}

#dog{
    background: url(../img/dog.gif) no-repeat;
}

a:hover{
    text-decoration: none;
}